* {
    margin: 0;
    /* box-sizing: border-box; */
}

html, body {
    font-size: 18px;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 30px auto;
    background: #f1f1f1;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

button {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
}

button:hover {
    background: orangered;
}

button:active {
    background: #000;
    color: #fff;
}

.courses {
    margin-top: 40px;
}

.courses li {
    margin-bottom: 20px;
}

.courses a {
    color: #222;
}

.slider {
    border: 2px solid black;
    width: 256px;
    height: 256px;
    margin: 20px auto;
    overflow: hidden;
}

.slider-line {
    width: 1024px;
    height: 256px;
    display: flex;
    background: orange;
    position: relative;
    left: 0;
    transition: all ease 1s;
}